@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: #f5f7fb;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}